.cart-container {
  padding: 2em 9em 2em 9em;

  .item-name {
    color: #271000;
    text-decoration: none;
  }

  .cart-button {
    background-color: #866042;
    box-shadow: 4px 4px 32px 1px rgba(0, 0, 0, 0.096);
    color: #fff;
    border: none;
    padding: 10px 28px 10px 28px;
    font-size: 16px;
    border-radius: 10px;
    &:hover {
      color: #271000;
      background-color: #ebdab6;
    }
  }

  .trash-icon {
    // color: #DC3545;
    &:hover {
      color: #ffffff;
    }
  }
}

@media screen and (max-width: 576px) {
  .cart-container {
    padding: 2em 2em 2em 2em;
  }
}

@media screen and (min-width: 576px) and (max-width: 992px) {
  .cart-container {
    padding: 2em 4em 2em 4em;
  }
}
