.events-header-image {
  background-image: url(../images/11.png);
  background-repeat: no-repeat;
  height: 650px;
  min-width: 100%;
  background-size: cover;
}

.events-container {
  background: #866042;
  font-family: "Cardo", serif;

  .events-title {
    text-align: center;
    padding-top: 3rem;
    margin: 0em;
    color: #ebdab6;
  }

  .events-liveshow-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 2rem 10em 0em 10em;

    .events-liveshow-card {
      margin: 1.2em;
      padding: 1.5rem 4rem 2rem 4rem;
      border-radius: 50px;
      box-shadow: 4px 4px 32px 1px rgba(0, 0, 0, 0.25);
      background: #ebdab6;
      color: #271000;
      &:hover {
        color: #ebdab6;
        background: #866042;
      }

      .events-liveshow-title {
        text-align: center;
      }

      .events-liveshow-date {
        text-align: center;
      }

      .events-liveshow-location {
        text-align: center;
      }
    }
  }

  .events-title2 {
    text-align: center;
    color: #ebdab6;
    padding-top: 3rem;
    margin: 0em;
  }

  .upcoming-event-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 1.5rem 10em 2em 10em;

    .upcoming-event-card {
      margin: 1.2em;
      padding: 2rem 4rem 2rem 4rem;
      border-radius: 50px;
      box-shadow: 4px 4px 32px 1px rgba(0, 0, 0, 0.25);
      background: #3a1b0f;
      color: #ebdab6;
      &:hover {
        color: #ebdab6;
        background: #866042;
      }
      .upcoming-event-title {
        text-align: center;
      }

      .upcoming-event-date {
        text-align: center;
      }

      .upcoming-event-info {
        text-align: center;
      }
    }
  }
}

@media screen and (min-width: 576px) and (max-width: 992px) {
  .events-container {
    .events-liveshow-container {
      padding: 2rem 2em 0em 2em;
    }

    .upcoming-event-container {
      padding: 1.5rem 2em 2em 2em;
    }
  }
}

@media screen and (max-width: 576px) {
  .events-container {
    .events-liveshow-container {
      padding: 2rem 2em 0em 2em;
    }

    .upcoming-event-container {
      padding: 1.5rem 2em 2em 2em;
    }
  }
}
