.login-header-image {
  background-image: url(../images/1.png);
  height: 380px;
  min-width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
}

.login-container {
  padding: 2em 9em 2em 9em;

  .login-button {
    background-color: #866042;
    color: #fff;
    border: none;
    padding: 10px 28px 10px 28px;
    font-size: 17px;
    border-radius: 10px;
    box-shadow: 4px 4px 20px 1px #27100049;
    &:hover {
      color: #271000;
      background-color: #ebdab6;
    }
  }

  .login-register-message {
    padding-top: 1em;

    a {
      color: #866042;
      font-weight: bold;
      &:hover {
        color: #271000;
      }
    }
  }
}
