.nav-container {
  z-index: 100;
  background-color: #27100054;

  .nav-logo {
    font-size: 30px;
    margin-left: 1.2em;
  }

  .nav-toggle {
    background-color: #271000;
    border: 1px solid #ebdab6 !important;
    margin-right: 2rem;
  }

  .nav-dropdown {
    border-radius: 10px;
    padding: 1rem 1rem 1rem 1rem;
    z-index: 100;

    #nav-links-container {
      display: flex;
      justify-content: flex-end;
      z-index: 100;

      .nav-links {
        color: white;
        margin-left: 0.5rem;
        &:hover {
          color: #ebdab6;
        }
      }

      .dropdown {
        margin-left: 0.5rem;
        color: white !important;
      }
    }
  }
}

@media screen and (max-width: 576px) {
  .nav-container {
    padding-right: 20px;
    padding-left: 20px;

    .nav-logo {
      font-size: 25px;
    }
  }
}

@media screen and (min-width: 576px) and (max-width: 992px) {
}
