.product-container {
  width: 30%;

  .product {
    margin-right: 2rem;
    margin-left: 2rem;
    margin-bottom: 3rem;

    .product-img-div {
      width: 100%;

      .about-team-img {
        transition: transform 0.5s ease;
        object-fit: cover;
        height: 300px;
        width: 100%;
      }
    }

    .product-name {
      font-weight: bold;
      font-size: 20px;
      text-decoration: none;
      color: #3a1b0f;
      margin-top: 1rem;

      &:hover {
        color: #866042;
      }
    }

    .product-price {
      font-weight: normal;
      font-size: 17px;
      color: #3a1b0f;
    }

    .add-to-cart-button {
      background-color: #866042;
      color: #fff;
      border: none;
      padding: 10px 28px 10px 28px;
      font-size: 16px;
      border-radius: 10px;
      &:hover {
        color: #271000;
        background-color: #ebdab6;
      }
    }
  }

  a {
    text-decoration: none;
  }
}

@media screen and (max-width: 576px) {
  .product-container {
    width: 100%;
  }
}

@media screen and (min-width: 576px) and (max-width: 992px) {
  .product-container {
    width: 50%;
  }
}
