.single-product-container {
  padding: 4em 3em 2em 3em;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  color: #3a1b0f;

  .product-image-div {
    width: 40%;

    .product-image {
      width: 100%;
      height: 500px;
      object-fit: cover;
    }
  }

  .product-info {
    width: 30%;
    margin: 0em 2rem 0em 2rem;

    .selected-image-button {
      background: white;
      border: none;
      padding: 0em;
    }
  }

  .product-checkout {
    width: 20%;

    .product-button {
      background-color: #866042;
      color: #fff;
      border: none;
      padding: 10px 28px 10px 28px;
      font-size: 16px;
      border-radius: 10px;
      box-shadow: 4px 4px 32px 1px rgba(0, 0, 0, 0.096);
      margin-top: 1rem;

      &:hover {
        color: #271000;
        background-color: #ebdab6;
      }
    }
  }
}

@media screen and (max-width: 576px) {
  .single-product-container {
    padding: 2em 1em 2em 1em;
  
    .product-image-div {
      width: 100%;
  
      .product-image {
        height: 350px;
      }
    }
  
    .product-info {
      width: 100%;
      margin-top: 2rem;
    }
  
    .product-checkout {
      width: 100%;
      margin: 2rem 0rem 0em 0em;
    }
  }
}

@media screen and (min-width: 576px) and (max-width: 992px) {
  .single-product-container {
    padding: 3em 1em 2em 1em;
  
    .product-image-div {
      width: 50%;
    }
  
    .product-info {
      width: 40%;
      margin-left: 2em;
    }
  
    .product-checkout {
      width: 100%;
      margin: 2em 0rem 1em 0rem;
    }
  }
}



















// .single-product-container {
//   display: flex;
//   justify-content: space-evenly;
//   flex-direction: row-reverse;
//   padding: 20px;

//   .product-info {
//     .product-name {
//     }

//     .product-description {
//     }

//     .product-price {
//     }

//     .product-status {
//     }

//     .product-button {
//     }

//     .product-button-nostock {
//       pointer-events: none;
//     }
//   }
// }
