.store-header-image {
  background-image: url(../assets/8.png);
  height: 650px;
  min-width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
}

.store-container {
  font-family: "Cardo", serif;

  .store-title {
    text-align: center;
    padding-top: 3rem;
    margin: 0em;
    color: #3a1b0f;
  }

  // .sidebar {
  //   position: fixed;
  //   transform: translateX(-30rem);
  //   width: 30rem;
  // }

  // .sidebar.open {
  //   transform: translateX(0);
  // }

  // .sidebar-button {
  //   font-size: 3rem;
  //   padding: 0.2rem;
  //   background: none;
  //   border: none;
  //   color: #3a1b0f;
  //   border-radius: 10px;
  //   cursor: pointer;

  //   &:hover {
  //     background: #866042;
  //   }
  // }

  .products-container {
    // display: flex;
    // flex-wrap: wrap;
    // border: 1px solid red;

    .products-list {
      list-style: none;
      display: flex;
      flex-wrap: wrap;
      // justify-content: center;
      justify-content: space-evenly;

      .product {
        // width: 50%;
        margin-right: 2rem;
        margin-left: 2rem;

        .about-team-img {
          width: 30%;
          background-size: cover;
        }

        .product-name {
          font-weight: bold;
          font-size: 20px;
          text-decoration: none;
          color: #3a1b0f;

          &:hover {
            color: #866042;
          }
        }

        .product-price {
          font-weight: normal;
          font-size: 17px;
          color: #3a1b0f;
        }
      }
    }
  }
}
