.about-header-image {
  background-image: url(../assets/2.png);
  background-repeat: no-repeat;
  height: 650px;
  min-width: 100%;
  background-size: cover;
}

.about-who-container {
  background: #3a1b0f;
  display: flex;
  // justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding: 0rem 7rem 2rem 7rem;

  .about-who {
    width: 50%;
    margin-right: 3rem;

    .about-who-title {
      color: #ebdab6;
    }

    .about-who-paragraph {
      color: white;
    }
  }

  .about-who-img-div {
    width: 40%;
    margin-top: 3rem;

    .about-who-img {
      height: 300px;
      background-size: cover;
      width: 100%;
      border-radius: 50px;
    }
  }
}

.about-team-container {
  background: #866042;

  .about-team-title {
    text-align: center;
    margin: 0em;
    color: #ebdab6;
    padding-top: 3rem;
  }

  .about-team-container-card {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    color: #fff;
    margin-left: 5em;
    margin-right: 5em;

    .about-team-card {
      border: 1px solid red;
      width: 30%;
      margin: 3rem 1rem 3rem 1rem;

      .about-team-name {
        text-align: center;
      }

      .about-team-img {
        height: 300px;
        background-size: cover;
        width: 100%;
        border-radius: 50px;
      }

      .about-team-description {
        text-align: center;
      }
    }
  }
}

.about-mission-container {
  .about-mission-titles {
    .about-mission {
    }
  }

  .about-mission-paragraph {
    .about-mission-text {
    }
  }
}
