.contact-container {
  background: #271000;
  color: #fff;

  .contact-title {
    margin: 0em;
    text-align: center;
    padding-top: 3rem;
  }

  .contact-social-icons-container {
    display: flex;
    align-items: center;
    a {
      .contact-social-icons {
        color: #ebdab6;
        margin: 0rem 1rem 1rem 0rem;
        &:hover {
          color: #271000;
        }
      }
    }
  }
}
