.nav {
  color: rgb(255, 255, 255);
  display: flex;
  justify-content: space-between;
  margin: 0rem 4rem 1rem 4rem;
  padding-top: 2rem;

  .nav-logo {
  }

  .nav-items {
    a {
      margin-right: 2rem;
    }
  }
}
