.nav {
  color: rgb(255, 255, 255);
  display: flex;
  justify-content: space-between;
  margin: 0rem 4rem 1rem 4rem;
  padding-top: 2rem;
  font-family: "Cardo", serif;

  .nav-logo {
    a {
      color: #fff;
      text-decoration: none;
      &:hover {
        color: #ebdab6;
      }
    }
  }

  .nav-items {
    color: #fff;

    a {
      margin-right: 2rem;
      color: #fff;
      text-decoration: none;
      &:hover {
        color: #ebdab6;
      }
    }
  }
}

@media screen and (max-width: 576px) {
  .nav {
    margin: 0rem 1rem 1rem 4rem;

    .nav-logo {
      a {
        margin-right: 8rem;
      }
    }

    .nav-items {
      a {
        margin-top: 1rem;
      }
    }
  }
}
